body
{
    background: #252525;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.assignment
{
    display: flex;
    flex-wrap: wrap;
}

.assignment
{
    width: 20%;
    display: flex;
    padding: 10px;
    margin: 10px;
    padding: 15px 10;
    background: #fdd947;
    border-radius: 4px;
}

.assignment img
{
    width: 200px;
    margin: 10px;
    border: 2px solid #ffffff;
    display: block;
    margin: auto;
}
.assignment img:hover
{
    color:#444444;
}

h1
{
    color: #fdd947;
    text-align: center;
}

h1:hover
{
    color:#ffffff;
}

a
{
    text-decoration: none;
    color: #444444;
}

a:hover
{
    color: #ffffff;
}